<h2>Краткий список что я сделал</h2>
<h3>Kanban доска</h3>
<p>Канбан доска для управления задачами. При переносе из разных статусов (To do, doing, done) меняется соответствующее  значение у объекта. Хранение осуществляется в localStorage, загружаются через rxjs (думал добавить лоадеры, но загрузка из localStorage будет практически моментальной, поэтому решил не тратить на это время). Также имеется функционал в виде: удаление, редактирование, дубликат записи и открытие таска в отдельной странице</p>
<p>В целом, с этим пунктом не было сложностей.</p>
<h3>Диаграмма Ганта</h3>
<p>Диаграмма Ганта для визуализации задач в рамках времени. Для этой реализации я нашел китайскую библиотеку, которая не переведена на английский, поэтому приходилось пользоваться дополнитлеьно переводчиком.</p>
<h3>Список задач с споиском и фильтром</h3>
<p>Сделал через таблицу из Material. Дополнительно добавил весь функционал из части с Kanban доской</p>
<h3>Об авторе</h3>
<p>Имя: Тулеуов Тимур</p>
<p>Место: Angular разработчик</p>
<p>Срок выполнения: 1 день</p>