<header class="d-flex justify-content-center py-3 items-center dark:bg-gray-900 dark:text-white">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/task-list" routerLinkActive="active" class="nav-link" aria-current="page">Задачи</a></li>
      <li class="nav-item"><a routerLink="/board" routerLinkActive="active" class="nav-link">Доска Kanban</a></li>
      <li class="nav-item"><a  routerLink="/timeline" routerLinkActive="active"   class="nav-link">Timeline</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">Об авторе</a></li>
    </ul>
    <mat-slide-toggle [(ngModel)]="isDarkMode" (change)="toggleTheme($event)"></mat-slide-toggle>
  </header>