

<h1 mat-dialog-title>Edit Task</h1>
<div mat-dialog-content>
  <form class="d-flex flex-column" (keydown.enter)="onSaveClick()" (keyup.esc)="onCancelClick()">
      
      <label>Название таска</label>
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput [(ngModel)]="data.title" name="title">
      </mat-form-field>


      <label>Важность</label>
      <mat-form-field>
        <mat-label>Важность</mat-label>
        <mat-select [(ngModel)]="data.priority" name="priority">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
      </mat-form-field>
      

      <label>Статус</label>
      <mat-form-field>
        <mat-label>Статус</mat-label>
        <mat-select [(ngModel)]="data.status" name="status">
          <mat-option value="todo">To DO</mat-option>
          <mat-option value="doing">Doing</mat-option>
          <mat-option value="done">Done</mat-option>
        </mat-select>
      </mat-form-field>
      
    
      <mat-form-field>
        <mat-label>Описание таски</mat-label>
        <textarea matInput [(ngModel)]="data.description" name="description"></textarea>
      </mat-form-field>
    
      <!-- <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.deadline" name="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" >
          <input matStartDate  [(ngModel)]="data.start" name="start" formControlName="start" placeholder="Start date">
          <input matEndDate   [(ngModel)]="data.deadline" name="deadline" formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
        @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
        }
        @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
</form>
      
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()" >Save</button>
</div>