<div cdkDropListGroup class="flex justify-content-center h-fit dark:bg-gray-900 dark:text-white pb-24"> 
    <div class="drag-container dark:bg-gray-900 dark:text-white">
      <div class="flex flex-row justify-start">
            <p class="text-4xl leading-tight">To Do</p>
            <button (click)="addTask('todo')" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>add</mat-icon>
            </button>
        </div>
      
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="drag-list dark:bg-gray-700 dark:text-white max-h-96 overflow-y-auto" 
        (cdkDropListDropped)="drop($event)">
        @for (item of todo; track item) {
          <div class="drag-box flex justify-between items-center p-2" cdkDrag>
            <span>{{ item.title }}</span>
            <div class="flex space-x-2">
              <button mat-icon-button (click)="editTask(item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteTask(item)">
                  <span>Удалить</span>
                </button>
                <button mat-menu-item (click)="duplicateTask(item)">
                  <span>Дублировать задание</span>
                </button>
                <button mat-menu-item [routerLink]="['/task/', item.id]">
                  <span>Открыть</span>
                </button>
              </mat-menu>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="drag-container">
      <div class="flex flex-row justify-start">
        <p class="text-4xl leading-tight">Doing</p>
            <button (click)="addTask('doing')" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div
            cdkDropList
            [cdkDropListData]="doing"
            class="drag-list dark:bg-gray-700 dark:text-white"
            (cdkDropListDropped)="drop($event)">
                @for (item of doing; track item) {
                  <div class="drag-box flex justify-between items-center p-2" cdkDrag>
                    <span>{{ item.title }}</span>
                    <div class="flex space-x-2">
                      <button mat-icon-button (click)="editTask(item)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteTask(item)">
                          <span>Удалить</span>
                        </button>
                        <button mat-menu-item (click)="duplicateTask(item)">
                          <span>Дублировать задание</span>
                        </button>
                        <button mat-menu-item [routerLink]="['/task/', item.id]">
                          <span>Открыть</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                }
              </div>
        </div>
    <div class="drag-container">
      <div class="flex flex-row justify-start">
        <p class="text-4xl leading-tight">Done</p>
            <button (click)="addTask('done')" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>add</mat-icon>
            </button>
        </div>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="drag-list dark:bg-gray-700 dark:text-white"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
          <div class="drag-box flex justify-between items-center p-2" cdkDrag>
            <span>{{ item.title }}</span>
            <div class="flex space-x-2">
              <button mat-icon-button (click)="editTask(item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteTask(item)">
                  <span>Удалить</span>
                </button>
                <button mat-menu-item (click)="duplicateTask(item)">
                  <span>Дублировать задание</span>
                </button>
                <button mat-menu-item [routerLink]="['/task/', item.id]">
                  <span>Открыть</span>
                </button>
              </mat-menu>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  