
<div class="d-flex  justify-content-center items-center " style="padding-top: 150px;">
    <div class="card w-75 " *ngIf="task">
        <div class="card-body">
          <h2 class="card-title">{{task?.title}}</h2>
          <p class="card-text">{{task?.description}}</p>
          <p class="card-text">Начало: {{task?.start| date:'fullDate' | translate}}</p>
          <p class="card-text">Дедлайн: {{task?.deadline | date:'fullDate' | translate}}</p>
          <p class="card-text">Ответственный: {{task?.executor}}</p>
          
            <button class="btn btn-primary" (click)="backUp()">Назад</button>
            <button class="btn btn-primary" (click)="editTask(task)">Редактировать</button>
            <button class="btn btn-danger" (click)="deleteTask(task)">Удалить</button>
          
          
        </div>
      </div>
</div>
